$navbackground-color: #999;
$btn-color: antiquewhite;
$btnHover-color: aqua;
$weather-panel: rgb(236, 202, 202);
$body-bg: #e0e0e0;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
